# Python
__pycache__/
*.py[cod]
venv/
env/
env13/
envF

# ML Models (trop gros)
models/*.h5
*.h5

# Datasets (trop gros)
Data/
data/
*.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
#firebase 
*.json
firebase-credentials.json
*.key
*.pem
*.p12
#fichier sumilateur
 iot/send_signall.py